<!-- Jinija syntax - extending the base template by adding content in the block content section-->
{%extends "base.html" %}
{% block title %} Search SNPs {% endblock %}
{% block content %}

<!-- Heading text at the top of the page -->
<center>
<div class='mt-sm-3'style="margin:auto;max-width:1000px">
    <h2>Search for SNPs</h2>
    <p>Use one of the below parameters to search for single nuceotide polymorphisms
         (SNPs) across populations in the 1000 genomes project.</p>

</div>
</center>

<!-- Create the search form with all of the user selection parameters -->
<form class="example" method="post" action="/search" 
 style="margin:auto;max-width:600px">
  <!-- Text search bar-->
   <input type="text" 
           placeholder="E.g. rs999980 or ACTR3BP7 or 11124625-15303188" 
           name="snp" class="form-control">
   <!-- Select dropdown menu -->
   <select name="select" required class="custom-select" >
       <option disabled selected value="">Search by</option>
       <option value="SNP Name">SNP Name</option>
       <option value="Gene Name">Gene Name</option>
       <option value="Location">Location</option>
   </select>
    <!-- Population checkboxes -->
    <div class='form-control' required>
  
      <label>Populations: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name='subpop' value="GBR" checked >
        <label class="form-check-label" for="inlineCheckbox1">Great Britain</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name='subpop' value="CHB" checked>
        <label class="form-check-label" for="inlineCheckbox2">China</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name='subpop' value="BEB" checked >
        <label class="form-check-label" for="inlineCheckbox3">Bengali</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name='subpop' value="PEL" checked >
        <label class="form-check-label" for="inlineCheckbox4">Peru</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name='subpop' value="ESN" checked>
        <label class="form-check-label" for="inlineCheckbox5">Nigeria</label>
    </div>

  </div>
    <!-- Search/Submit button -->
   <div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

</form>

<!-- Download button -->
<div class="container text-right" style="padding-right: 50px; padding-top: 50px;">
  <a href="#" id="download" class= "btn btn-danger" > Download! </a>
</div>


<br>
<br>

<!-- Text stating search time and SNP number -->
<center>
<div class="alert alert-light">
  <strong>{{num_snps}}</strong> 
  <strong>{{runtime}}</strong>
</div>
</center>

<br>

<!-- Table heading -->
<center>
<h3>{{SNPtitle}}</h3>
</center>

<!-- One table for SNP info and then a table per subpop -->

<!-- Table in which each search row is iterated over and added to the table rows/cells -->
<!-- In a conatainer to allow table scrolling -->

<div class="container" style="height: 500px;overflow: scroll;">
  <table class=" table table-striped table-bordered table-sm " >
    

      <thead>

        <tr>

          {% for header in head %}
          <th class="th-sm font-weight-bold">{{header}}</th>
          {% endfor %}

        </tr>
          
      </thead>  
      
      <tbody>

          {% for row in data %}
          <tr>
              {% for item in row %}
            
              <td> {{item}} </td>
              
              {% endfor %}
          </tr>
          {% endfor %}

      </tbody>

  </table>

</div>

<br>

<!-- Table heading -->

<center>
<h3>{{btitle}}</h3>
</center>

<!-- Table in which each search row is iterated over and added to the table rows/cells -->
<!-- In a conatainer to allow table scrolling -->

<div class="container" style="height: 400px;overflow: scroll;">
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm ">

      <thead>

        <tr>

          {% for header in bhead %}
          <th class="th-sm font-weight-bold">{{header}}</th>
          {% endfor %}

        </tr>
          
      </thead>  
      
      <tbody>

          {% for row in BEB %}
          <tr>
              {% for item in row %}
            
              <td> {{item}} </td>
              
              {% endfor %}
          </tr>
          {% endfor %}

      </tbody>

  </table>

</div>

<br>

<!-- Table heading -->

<center>
<h3>{{gtitle}}</h3>
</center>

<!-- Table in which each search row is iterated over and added to the table rows/cells -->
<!-- In a conatainer to allow table scrolling -->

<div class="container" style="height: 400px;overflow: scroll;">
  <table class="table table-striped table-bordered table-sm ">

      <thead>

        <tr>

          {% for header in ghead %}
          <th class="th-sm font-weight-bold">{{header}}</th>
          {% endfor %}

        </tr>
          
      </thead>  
      
      <tbody>

          {% for row in GBR %}
          <tr>
              {% for item in row %}
            
              <td> {{item}} </td>
              
              {% endfor %}
          </tr>
          {% endfor %}

      </tbody>

  </table>

</div>

<br>

<!-- Table heading -->

<center>
<h3>{{ctitle}}</h3>
</center>

<!-- Table in which each search row is iterated over and added to the table rows/cells -->
<!-- In a conatainer to allow table scrolling -->

<div class="container" style="height: 400px;overflow: scroll;">
  <table class="table table-striped table-bordered table-sm ">

      <thead>

        <tr>

          {% for header in chead %}
          <th class="th-sm font-weight-bold">{{header}}</th>
          {% endfor %}

        </tr>
          
      </thead>  
      
      <tbody>

          {% for row in CHB %}
          <tr>
              {% for item in row %}
            
              <td> {{item}} </td>
              
              {% endfor %}
          </tr>
          {% endfor %}

      </tbody>

  </table>

</div>

<br>

<!-- Table heading -->

<center>
<h3>{{ptitle}}</h3>
</center>

<!-- Table in which each search row is iterated over and added to the table rows/cells -->
<!-- In a conatainer to allow table scrolling -->

<div class="container" style="height: 400px;overflow: scroll;">
  <table class="table table-striped table-bordered table-sm ">

      <thead>

        <tr>

          {% for header in phead %}
          <th class="th-sm font-weight-bold">{{header}}</th>
          {% endfor %}

        </tr>
          
      </thead>  
      
      <tbody>

          {% for row in PEL %}
          <tr>
              {% for item in row %}
            
              <td> {{item}} </td>
              
              {% endfor %}
          </tr>
          {% endfor %}

      </tbody>

  </table>

</div>

<br>

<!-- Table heading -->

<center>
<h3>{{etitle}}</h3>
</center>

<!-- Table in which each search row is iterated over and added to the table rows/cells -->
<!-- In a conatainer to allow table scrolling -->

<div class="container" style="height: 400px;overflow: scroll;">
  <table class="table table-striped table-bordered table-sm ">

      <thead>

        <tr>

          {% for header in ehead %}
          <th class="th-sm font-weight-bold">{{header}}</th>
          {% endfor %}

        </tr>
          
      </thead>  
      
      <tbody>

          {% for row in ESN %}
          <tr>
              {% for item in row %}
            
              <td> {{item}} </td>
              
              {% endfor %}
          </tr>
          {% endfor %}

      </tbody>

  </table>

</div>



{% endblock %}
