  <!-- CCS style sheet from bootstrapCDN and Javascript-->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  



<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Icon library for search button-->
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>SNP Search</center></h1>

        <p></p>

        <form class="example" method="post" action="/search" 
         style="margin:auto;max-width:600px">
            <input type="text" 
                    placeholder="Search by SNP name E.g. rs999980" 
                    name="snp">
            
            <select name="select" required >
                <option disabled selected value="">Search by</option>
                <option value="SNP Name">SNP Name</option>
                <option value="Gene Name">Gene Name</option>
                <option value="Location">Location</option>
            </select>

            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>

        <br>
        <br>

        <center>
        
        <!-- Data is a list of rows (each row is a nested list)-->
        

        <table class="table">

            <thead>

                {% for header in headings %}
                <th>{{header}}</th>
                {% endfor %}

            </thead>  
            
            <tbody>

                {% for row in data %}
                <tr>
                    {% for item in row %}
                    <!-- for each item in row -->
                    <td> {{item}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>

        </table>

        
        </center>


    </body>
</html>